html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, ul, li, nav, button,img
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration:none;
    list-style:none;
}

a,ul{
    text-decoration: none;
    list-style:none;
    color:black;
}

@font-face {
    font-family: 'oxygenbold';
    src: url('../fonts/oxygen/oxygen-bold-webfont.eot');
    src: url('../fonts/oxygen/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen/oxygen-bold-webfont.woff') format('woff'),
         url('../fonts/oxygen/oxygen-bold-webfont.ttf') format('truetype'),
         url('../fonts/oxygen/oxygen-bold-webfont.svg#oxygenbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oxygenregular';
    src: url('../fonts/oxygen/oxygen-webfont.eot');
    src: url('../fonts/oxygen/oxygen-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen/oxygen-webfont.woff') format('woff'),
         url('../fonts/oxygen/oxygen-webfont.ttf') format('truetype'),
         url('../fonts/oxygen/oxygen-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oxygenregular';
    src: url('../fonts/oxygen/oxygen-regular-webfont.eot');
    src: url('../fonts/oxygen/oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen/oxygen-regular-webfont.woff') format('woff'),
         url('../fonts/oxygen/oxygen-regular-webfont.ttf') format('truetype'),
         url('../fonts/oxygen/oxygen-regular-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'oxygenregular', arial, man-serif, serif, hevetica;
}

.clear{
	clear:both;
	float:none;
}

.alignLeft{	
	float:left;
}

.alignRight{	
	float:right;
}

.container{	
	width: 940px;
	margin:0 auto;
}

.logo
{
	background:url("../images/logo.png") no-repeat center;
	height:45px;
	width:120px;
	padding: 5px 0;
	float:left;
}

.navigation
{
    float:left;
    margin: 0 50px;
}

.navigation li
{
    margin-right:10px;
    float: left;
}

.navigation a
{
    display: block;
    font:oxygenbold 16px;
    line-height: 19px;
    padding:18px 10px;
}

.navigation .lastLi
{
	margin-right:0;
}

.searchText
{  
    border:1px solid #888888;
    margin:12px 0;
    border-radius:3px;
    background: url('../images/searchIcon.png') no-repeat 97%;
    padding:6px 35px 6px 10px;
}

.socialIcon{
	margin:15px 0;
}

.socialIcon li{
    float:left;
    margin-left:5px;
}
.socialIcon a{
    height:25px;
    width:25px;
    display:block;
    background-color:#000000;
    border-radius:50%;
}

.facebook{
    background:url("../images/facebookIcon.png") no-repeat center;
}
.twitter{
    background:url("../images/twitterIcon.png") no-repeat center;
}

.pinterest{
    background:url("../images/pinterestIcon.png") no-repeat center;
}

.gplus{
    background:url("../images/gplusIcon.png") no-repeat center;
}

.banner{
    height:545px;
    background: #000000 url("../images/bannerImage.jpg") no-repeat center;
    color:#ffffff;
    display:block;
    position: relative;
}

.banner h1{
    font:44px bold;
    line-height: 46px;
    position: absolute;
    bottom: 70px;
}

.banner span
{
    font-size:22px;
    line-height:24px;
    margin:6px 0 0 0;
    position: absolute;
    bottom: 30px;
}

.feature
{
	    background: #ecab1f;
}
.featureList
{
    font-size:22px;
    line-height:24px;
}

.featureList li
{
    float:left;
    margin:20px 20px 20px 0;
    width:220px;
    height:60px;
}

.featureList a
{
    border-radius:5px;
    display:block;
    background: #ffffff url("../images/forwardBtn.png") no-repeat 92%;
    padding:20px 50px 20px 20px;
}

.featureList li.clear
{
    float: none;
    clear: both;
    margin: 0 auto;
    width: 0;
    height: 0;
}

.featureList .lastLi
{
    margin-right:0;
}

.content
{
   color:#888888;
    padding:15px 0 70px 0;
   border-bottom:1px solid #dadada;
}

.contentImage
{
    height: 200px;
    max-width: 100%;
    overflow: hidden;
}
.content img{
    display:block;
}
.content h2{
    font-size:40px;
    line-height:40px;
    margin-top:67px;
    margin-bottom: 20px;
}

.eventList li
{
    float:left;
    width:300px;
    margin-right:20px;
}

.eventList li.clear
{
    float: none;
    clear: both;
}

.eventList .lastLi
{
    margin-right:0;
}

.eventInfo
{
    background:#4466ff;
    color: #ffffff;
    padding:20px 38px 20px 15px;
}

.eventInfo h4 a{
    font-family:22px;
    color: #ffffff;
    font-weight:bold;
}

.eventInfo p
{
    margin-top:10px;
    font-size:14px;
}

.eventInfo span
{
    font-size:11px;
    margin:0 0 6px 0;
}

.footer{
    background:#f1f1f1;
    padding: 30px 0 128px;
}

.footerLists .list
{
    font-size:14px;
}

.footerLists
{
    float:left;
}


.footerLists .list ul
{
    margin-bottom: 10px;
}

.footerLists .list
{
    float:left;
    margin-right:60px;
}

.footerLists .clear li
{
    float:none;
    clear:both;
}

.footerLists h5
{
    margin-bottom:10px;
    font-size:14px;
    font-weight:bold;
    color:#666666;
}

.footerNavWrap
{
    border-top:1px solid #666666;
    margin:20px 0 0;
    font: 12px bold;
    text-align:center;
}

.footerNavWrap ul{
    margin-top: 20px;
}

.footerNavWrap li{
    display: inline;
    border-right: 1px solid #888888;
}

.footerNavWrap .lastLi
{
    border-right:none;
}

.footerNavWrap a
{
    padding: 0 6px;

}


.footerNavWrap span{
    color:#b4b4b4;
    margin-top:20px;
    font-size:14px;
    display: block;
}







