
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, ul, li, nav
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body
{
	font-family:SourceSansPro;
}

.wrap
{
	width:1200px;       
	margin:0px auto;
}

#header
{
	height:50px;
	background:#444444;
}
#logo
{
	padding:none;
	margin:9px 0px;
}
ul
{
	padding:15px 0px;
}
li
{
	color: #aaaaaa;
	font-size: 18px;
	line-height:20px;
	display:inline;
	margin:0px 25px;
	text-transform: uppercase;
}

.alignLeft
{

	float: left;
}

.content
{
	background-image: url("../images/backgroundPattern.jpg");
	background-repeat: repeat;
	padding:50px 20px;
}
h1
{
	font-size:48px;
	text-transform:capitalize;
	color:white;
	margin:188px 0px 0px 0px;
}

h2
{	
	font-size:36px;
	color:white;
}

.clear
{
	clear:both;
}

button
{	
	height:47px;
	width:170px;
	font-size:20px;
	text-transform: uppercase;
	margin:40px 20px 0px 0px;
	border-radius: 10px;
}
.btn1
{
	color: black;
	background:#f2f2f2;
 
  	border: 5px solid #f2f2f2;
  	padding: 5px;
}
.btn2
{
	color:white;
	background:#ff9900;

  	border: 5px solid #ff9900;
  	padding: 5px;

}

#images
{
	margin:0px 0px 0px 20px;
	display:inline;
}

.alignRight
{
	float: right;
}

#text
{
	display:inline;
}
img
{
	margin-left:15px;
}
.img1
{
	border:5px solid #434343;
	box-shadow: 0px 0px 5px black;
}

.img2
{
	border:5px solid #8b5500;
	box-shadow: 0px 0px 5px black;
}

.img3
{
	border:5px solid #434343;
	box-shadow: 0px 0px 5px black;
}

